<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <title>My Website - About</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" /> 
</head> 
<body> 
    <div class="container">
        <h1>Alexander Gunzalie Waite</h1> 
        <div class="pic-paragraph">
            <img src="{{ url_for('static', filename='css/Profile.jpeg') }}" alt="Profile Picture" class="profile-pic">
            <p>Hello!! My name is Alexander Waite and I am a student 
                at the university of the West Indies studying Computer Science.
                I am in my finalizing year of my degree and I hope that after my completion
                I can find a job as a Business Analyst, Data Scientist
                or any field that combines my love for business and computing.
                I enjoy playing video games, watching movies and listening to music in my free time.
                A goal I have for myself is to be able to put myself out more and network
                with people in the industry to learn more about the field and make connections.
            </p> 
        </div>
    
    </div>
</body> 
<footer>
    <p>&copy; 2026 Alexander Waite</p>
</html> 